*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.edu{
    padding: 60px;
    color: rgb(28, 26, 26);
    height: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.resume-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resume-detailes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col-md-6{
    margin: 10px;
}

.iGUPuv {
    padding: 8px 0px 10px 50px;
    line-height: 25px;
    text-align: left;
    background-position: left top;
    background-position-x: left;
    background-position-y: top;
    letter-spacing: 0px;
    font-size: 15px;
    color: rgb(67, 67, 67);
    background-image: url(https://cdn-web.jifo.co/_next/static/images/guidelines-2f1b67e….svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
}

.resume-item{
    padding: 8px 0px 10px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    background-color: rgb(237, 241, 241);
}

h4{
    text-align: center;
}

.school{
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
}

