*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.eduction-section{
    color: rgb(28, 26, 26);
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

