*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    color: white;
    background-color: black;
}