*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-image: url('../images/web.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    color: rgb(252, 251, 251);
    height: 100vh;
    padding: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: column;
    font-size: 20px;
    /* margin-right: 92px; */
}

.avatar{
    margin: 45px;
    margin-top: 150px;
}

.avatar1{
    border-radius: 50%;
    margin: 20px;
}