*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-image: url('../images/web.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    color: rgb(252, 251, 251);
    height: 100vh;
    padding: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: column;
}

.name{
    font-size: 75px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.content1{
    font-style: italic;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.img-fluid{
    height: 450px;
}

.col-lg-6{
    width: 50%;
}

.section-heading>h2{
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.mb{
    width: 900px;
    font-size: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.btn-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    font-size: 20px;
}

.btn{
    /* padding: 10px; */
    margin: 20px;
    width: 200px;
    font-size: 20px;
    border: 2px solid blue;
    border-style: none;
    border-radius: 20%;
}

.btn:hover{
    cursor: pointer;
    background-color: green;
}