*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.project-section{
    padding: 25px;
    width: 100%;
    background-color:#F5F5F5;
    height: auto;
}

.container{
    margin-top: 70px;
}


.iGUPuv {
    font-size: 15px;
    color: rgb(67, 67, 67);
}