*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.project-section{
    padding: 25px;
    width: 100%;
    background-color:#F5F5F5;
    height: auto;
}

.container{
    margin-top: 70px;
}


.iGUPuv {
    /* margin: 25px 0px 0px;
    padding: 8px 0px 10px 50px; */
    /* line-height: 25px; */
    /* text-align: left; */
    /* background-position: left top;
    background-position-x: left; */
    /* background-position-y: top; */
    /* letter-spacing: 0px; */
    font-size: 15px;
    color: rgb(67, 67, 67);
}