/* * {
    background: black;
    color: #ccc;
} */

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
    flex-direction: row;
    /* color:gray; */
}


.login-card{
    width: 20rem;
    height: 18rem;
    border: 1px solid #ccc;
    padding: 1rem;
    color:gray;
}

.botton-card{
    width:20rem;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-top: 1rem;
    color:gray;
}

.tnc{
    width:20rem;
    padding: 1rem;
    margin-top: 1rem;
    color:gray;
}

.insta-mob-bg{
    background-image: url("../../assets/insta-mob-bg.png");
    width:432px;
    height:600px;
    /* position: relative; */
}

.carousel{
    display:block;
    position: absolute;
    top: 50px;
    left: 27px;
    min-height: '100%',
}