*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.project-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 20px 90px;
    background-color: rgb(117, 116, 114);
}

.project-detailes{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px 30px;
}

.project-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px;
}

.btn{
    padding: 10px 90px;
    margin: 10px 10px;
}

.project-decrption{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 50px;
}

