@media screen and (min-width:300px) and (max-width:700px) {
    .resume{
        display: flex;
        flex-direction: column;
    }

    .resume-0{
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .resume-1{
        /* display: flex; */
        flex-wrap: wrap;
        flex-direction: colume;
        justify-content: center;
        align-items: baseline;
        
    }

    .col-6{
        display: flex;
        flex-direction: row;
    }
}