.book-list{
    min-height: 80vh;
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(3,1fr);
    justify-content: center; 
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
    margin-top: 2px;
    transition: all 0.3s ease;
}

img:hover{
    transform: scale(1.1);
}

.book{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5%;
    width: 100%;
    margin-top: 5px;
}