.search-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 780px;
}
.search-form-elem{
    padding: 3.4rem 3.8rem;
    border-radius: 3rem;
}
.search-form-elem .form-control{
    font-size: 1.5rem;
    padding: 0.3rem;
}
.search-form-elem .form-control{
    margin: 2rem;
}
.search-form-elem .form-control::placeholder{
    opacity: 1;
}