*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
}

body {
  font-family: 'Rubik', sans-serif;
}

a{
  text-decoration: none;
  color: white;
}

.gap-30{
  gap: 30rem;
}

li{
  padding-left: 20px;
}

.button {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}

.button1 {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 0;
  border-radius: 25px;
}

.button:hover {
  background-color: var(--color-febd69);
  color: #131921;
}

button:hover{
  color: #131921
}

.gap-30{
  gap: 30px;
}

.gap-15{
  gap:15px;
}

a:hover{
  color:black;
}

/* navbar */
.navbar{
  background-color: var(--color-131921);
}

.footer-wrapper{
  background-color: var(--color-131921);
}

.footer-wrapper-1{
  background-color: #232f3e;
}

.theme-menu {
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100vh;
  padding: 20px;
  z-index: 99;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  transition: right 0.5s var(--transition-cubic);
}

.theme-menu.active {
  right: 0;
}

.theme-menu__close {
  position: absolute;
  top: 17px;
  right: 20px;
  background-color: transparent;
  font-size: 1.5rem;
}

.theme-menu__select {
  margin-top: 40px;
}

.mode-list {
  margin-top: 20px;
}

.mode-list > li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mode-list > li ~ li {
  margin-top: 10px;
}

.mode-list__color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 1.5rem;
}

.mode-list__color > i {
  transform: scale(0);
  transition: transform 0.5s var(--transition-cubic);
}

.mode-list__color.active > i {
  transform: scale(1);
}

/* Home */

.home-wrapper{
  background-color: var(--color-ededed);
}

img{
  width: 25rem;
  height: 35rem;
  background-color: transparent;
}

.logo{
  font-size: 5rem;
  text-decoration-line:inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background{
  background-image: url("../src/assets/images/IMG_20211118_062452_597.jpg");
  background-size:100%;
  background-position-y: -700px;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
}

.header_style{
  font-family: 'Babylonica', cursive;
  font-weight: 60rem;
  font-size: 70px;
}

/* footer */
.footer-wrapper{
  background-color: var(--color-131921);
}

.footer-wrapper-1{
  background-color: #232f3e;
}

footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media screen and (min-width:300px) and (max-width:1000px) {
  .footer-detailes{
    display: block;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
    padding: 20px;
  }

  .float-end{
    width: 5rem;
    height: 5rem;
    display: none;
    justify-content: flex-end;
    columns: 12;
  }

  .header-detailes{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: fit-content;
    font-size: 12px;
  }

  .detailes{
    display: contents;
    columns: 12;
    width: 100%;
  }

  .edu-detailes-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 12px;
  }

  nav{
    display: block;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .progress{
    display: contents;
    width: 100%;
  }

  .progress-bar{
    display: flex;
    columns: 12;
    width: 100%;
  }

  .detailes-1{
    display: flex;
    flex-direction: row-reverse;
    columns: 10;
    width: 100%;
  }

  .nav-1{
    margin: 0 -26px 0;
  }

  .name_logo{
    margin: 0 124px 0;
  }

  .header_style{
    font-family: 'Babylonica', cursive;
    font-weight: 60rem;
    font-size: 50px;
  }

  .background{
    height: 100vh;
  }

}

@media screen and (min-width:700px){
  .header-detailes{
    display: flex;
    justify-content: center;
    width: fit-content;
    font-size: 5px;
  }

  .header_style{
    font-family: 'Babylonica', cursive;
    font-weight: 60rem;
    font-size: 50px;
  }

  .background{
    height: 100vh;
  }

}



