/* .container{
    display: flex;
    border: 14px sold red;
    flex-direction: column;
    margin: 3rem;
} */

.text-center{
    margin: 1rem;
    /* justify-content: center; */
    /* align-items: center; */
    align-content: center;
    color: aqua;
}

h4{
    margin: 1rem;
}

.card{
    margin: 1rem;
    border: 5px solid black;
    border-radius: 5%;
}

.card-body{
    margin: 1rem;
}